/**
* This is the CSS added to the online websites
*/

* {
    font-family: "Trebuchet MS", Arial, sans-serif !important;
    word-spacing: 0.06em;
    letter-spacing: 0.02em;
    line-height: 2;
}

/*  for some reason * doesn't always catch everything */
body, p, span, div, h1, h2, h3, h4, h5, h6, li, a, td, th, input, textarea, button {
    font-family: "Trebuchet MS", Arial, sans-serif !important;
}

/*  for extra size tweaking for the future:
    https://stackoverflow.com/a/70720104/214446
*/
p, a {
    font-size: 1.2em !important;
}

code {
    font-size: 1.2rem !important;
}

h1 {
    font-size: 3em !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 1.8em !important;
}
